.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .4s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .4s;
}

.breadcrumb-leave-active {
  position: absolute;
}
.el-breadcrumb__inner a{
  font-size:16px;
  font-weight: 400;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner{
  font-size:16px;
  font-weight: 400;
}
