//头部第一层分布样式
.header-container-top{
    box-sizing: border-box;
    padding: 24px 0;
    display: flex;
    align-items: center;
    div {
      display: flex;
      align-items: center;
      label {
        font-family: MicrosoftYaHei;
        padding-right: 5px;
        color: rgba(0, 0, 0, 0.85);
      }
    }
    .el-input__inner {
      height: 30px;
      line-height: 30px;
      border-radius: 2px;
      border: 1px solid rgba(228, 228, 228, 1);
      padding-left: 9px;
      font-size: 14px;
      font-family: MicrosoftYaHei;
      color: rgba(0, 0, 0, 0.85);
    }
    .header-container-btn{
      .el-button {
          outline: none;
          border: none;
          border-radius: 2px;
          color: #ffffff;
          width: 68px;
          height: 30px;
          align-items: center;
          font-size: 14px;
          margin-right: 24px;
          margin-left: 0px;
      }
      .disable {
          opacity: 0.5;
      }
      .active:hover {
          opacity: 0.8;
      }   
    } 
}
//头部第二层分布样式
.header-container-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    //头部按钮样式
    .header-container-btn{
      .el-button {
          outline: none;
          border: none;
          border-radius: 2px;
          color: #ffffff;
          width: 68px;
          height: 30px;
          align-items: center;
          font-size: 14px;
          margin-right: 24px;
          margin-left: 0px;
      }
      .disable {
          opacity: 0.5;
      }
      .active:hover {
          opacity: 0.8;
      }   
    }
}

.w4{
  width: 80px;
}
